.login-container{
    min-height: 75vh;
}

.seccion-panel{
    min-height: 70vh;
    background: url("../img/fondo-adm.jpg") no-repeat bottom center #8ba2f5a8 ;
    background-size: cover;
    background-blend-mode: multiply;
}